.footer{
    /* background-color: rgb(29, 29, 31); */
    color: #d4d4d4;
    padding: 4vh 0;
    a {
        color: #d4d4d4;
        text-decoration: none;
    }
    a:hover{
        color: white;
    }
    h5 {
        margin-bottom: 2vh;
        font-weight: bold;
    }
    .social-icons{
        a{
            color: #666666;
            font-size: 1.4rem;
        }
        .fb:hover{
            color: #1877F2 !important;
        }
        .git:hover{
            color: #ffffff !important;
        }
        .ld:hover{
            color: #0077B5 !important;
        }
    }
}